@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;
@tailwind typography;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Open+Sans:wght@400;600&display=swap');

:root {
  --mja-text: #222222;
  --mja-primary: #b7932c;
  --mja-bg: #ffffff;
  --mja-dark-bg: #111827;
}

body {
  background-color: #b7932c;
  color: var(--mja-text);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Open Sans', Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', Arial, sans-serif;
  font-weight: 700;
}

